{% set location = content.field_location|field_target_entity %}
{% set room = content.field_room|field_target_entity %}
{% set image_url = content.image_primary|field_target_entity.field_media_image.entity.uri.value %}
{% if image_url %}
  {% set image = file_url(content.image_primary|field_target_entity.field_media_image.entity.uri.value|image_style('4to3_740x556')) %}
  {% set image_alt = content.image_primary|field_target_entity.field_media_image.alt %}
{% else %}
  {% set image = null %}
  {% set image_alt = null %}
{% endif %}
{% if node.id %}
  {% set url = url('entity.node.canonical', {'node': node.id}, {'absolute': TRUE}) %}
{% else %}
  {% set url = null %}
{% endif %}
{% set external_location_name = content.field_external_location_name|render %}

<article{{ attributes.addClass(['article']) }}>
  <div class="l--sidebar-after">
    <div class="l__header">
      {% include '@intercept-base-components/content-header/content-header.twig' with {
        title: label|field_value,
        image: image,
        image_alt: image_alt,
        type: 'Event'|t,
        supertitle: location.label,
        date: {
          date: node.field_date_time.start_date|date("l, F j, Y"),
          time: (node.field_date_time.start_date|date("g:i a") ~ ' – ' ~ node.field_date_time.end_date|date("g:i a"))|replace({'m': '.m.'})|replace({':00': ''})
        },
        url: url,
        sharing: true,
      } %}
    </div>
    <div class="l__main l--offset">
      <div class="l__primary">
        <div class="l--section">
          <div class="l--subsection--tight">
            {% if content.field_text_intro %}
              {{ content.field_text_intro }}
            {% endif %}
            {% if content.field_text_content %}
              {{ content.field_text_content|field_value }}
            {% endif %}
            {% if content.field_disclaimer %}
              {{ content.field_disclaimer }}
            {% endif %}
          </div>
          {% if content.checkin_link['#access'] %}
          <div class="l--subsection--tight">
            {{ content.checkin_link }}
          </div>
          {% endif %}
          <div class="l--subsection--tight">
            <div class="actions__register">
              {{ content.register_prompt }}
            </div>
          </div>
          <div class="actions l--subsection--tight">
            <div class="actions__save">
              {{ content.flag_saved_event }}
              {{ content.field_add_to_cal|field_value }}
            </div>
          </div>
        </div>

        {% if content.field_location and location.field_branch_location.value == '1' %}
        <div class="l--section">
          {% include '@intercept-base-components/location/location.twig' with {
            title: location.label,
            image: {
              src: file_url(location.image_primary.entity.field_media_image.entity.uri.value|image_style('4to3_740x556')),
              alt: location.image_primary.entity.field_media_image.alt
            },
            subtitle: room.label,
            address: drupal_field('field_address', 'node', location.nid.value)|field_value,
            phone: drupal_field('field_contact_number', 'node', location.nid.value)|field_value,
            map_link: drupal_field('field_map_link', 'node', location.nid.value)|field_raw('uri')
          } %}
        </div>
        {% elseif content.field_location and external_location_name %}
        <div class="l--section">
          {% include '@intercept-base-components/location/location.twig' with {
            title: content.field_external_location_name,
            image: {
              src: file_url(location.image_primary.entity.field_media_image.entity.uri.value|image_style('4to3_740x556')),
              alt: location.image_primary.entity.field_media_image.alt
            },
            address: content.field_address|field_value,
            map_link: 'https://www.google.com/maps?q=' ~ content.field_address|field_value[0]['address_line1']['#value']|replace({' ': '+'}) ~ '+' ~ content.field_address|field_value[0]['locality']['#value'] ~ '+' ~ content.field_address|field_value[0]['postal_code']['#value'] ~ '&t=m&z=17'
          } %}
        </div>
        {% endif %}
      </div>
      <div class="l__secondary">
        {% if sidebar_first %}
          <div class="l--padded">
            {{ sidebar_first }}
          </div>
        {% endif %}
        {% if content.field_event_type %}
          {{ content.field_event_type }}
        {% endif %}
        {% if content.field_event_audience %}
          {{ content.field_event_audience }}
        {% endif %}
        {% if content.field_event_series %}
          {{ content.field_event_series }}
        {% endif %}
        {% if content.field_event_tags %}
          {{ content.field_event_tags }}
        {% endif %}
        {% if user.hasPermission('analyze events') %}
          {% if content.field_staff_presenter|render|striptags|trim %}
            {{ content.field_staff_presenter }}
          {% else %}
            <div class="metadata">
              <h4 class="metadata__title">Staff Presenter</h4>
              <div class="metadata__content">
                {{ node.getOwner.getDisplayName }}
              </div>
            </div>
          {% endif %}
          {{ content.field_presenter }}
        {% endif %}
      </div>
    </div>
  </div>
</article>
