<article{{ attributes.addClass(['article']) }}>
  <header class="article__header l--offset">
    {{ title_prefix }}
    {% include '@intercept-base-components/page-title/page-title.twig' with {
      text: label
    } only %}
    {{ title_suffix }}
  </header>

  <div class="l--1-col l--offset">
    <div class="l__primary">
      {% if content %}
        {{ content }}
      {% endif %}
      {{ drupal_view('intercept_event_series', 'block_1', node.id) }}
    </div>
  </div>
</article>
