{{ attach_library('intercept_base/header') }}

<header class="header" role="banner">
  <div class="header__inner l--offset">
    <div class="header__logo">
      {%
        include '@intercept-base-components/logo/logo.twig' with {
        logo_path: logo_path,
        alt: site_name ~ ' logo'
        } only
      %}
    </div>

    <div class="header__site-navigation {% if not logged_in %}header__site-navigation--logged-out{% endif %}">
      {% if header.search %}
      <div class="header__site-search">

        <input type="checkbox" id="search-trigger" class="search-trigger js-mobile-nav-trigger" value="expanded" />
        <label for="search-trigger">

          <svg class="search-trigger__icon search-trigger__icon--expand" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd" transform="translate(0 2)">
              <path stroke="#99C221" stroke-width="3.79" d="M14.4210526,14.4 C18.6067897,14.4 22,11.1764502 22,7.2 C22,3.2235498 18.6067897,0 14.4210526,0 C10.2353156,0 6.84210526,3.2235498 6.84210526,7.2 C6.84210526,11.1764502 10.2353156,14.4 14.4210526,14.4 Z"
              ></path>
              <rect width="3.79" height="10.436" x="3.25" y="11.532" fill="#99C221" transform="rotate(45 5.146 16.75)"></rect>
            </g>
          </svg>

          <svg class="search-trigger__icon search-trigger__icon--collapse" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 357 357" enable-background="new 0 0 30 30" xml:space="preserve">
            <polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5"
            ></polygon>
          </svg>

        </label>

        {{ header.search }}
      </div>
      {% endif %}

      {% if header.utilities %}
      <div class="header__utilities">

        <input type="checkbox" id="account-trigger" class="account-trigger js-mobile-nav-trigger" value="expanded" />

        {% if is_staff %}
          <label for="account-trigger" class="account-trigger--is-staff">
          <span class="desktop">{{ "Admin"|t }}</span>
        {% elseif logged_in %}
          <label for="account-trigger">
          <span class="desktop">{{ "My Account"|t }}</span>
        {% else %}
          <label for="account-trigger" class="account-trigger--logged-out">
          <span class="desktop">{{ "Log In / Sign Up"|t }}</span>
        {% endif %}
          <span class="mobile">
            <svg class="nav-trigger__icon nav-trigger__icon--expand" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
              <g>
                <path class="st0" d="M1.3,24V22c0-3.9,3.2-7.1,7.1-7.1h7.1c3.9,0,7.1,3.2,7.1,7.1V24H1.3z" ></path>
                <circle class="st0" cx="12.3" cy="6.6" r="6.6" ></circle>
              </g>
            </svg>

            <svg class="nav-trigger__icon nav-trigger__icon--collapse" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 357 357" enable-background="new 0 0 30 30" xml:space="preserve">
              <polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5"
              ></polygon>
            </svg>
          </span>
        </label>

        {{ header.utilities }}
      </div>
      {% endif %}

      {% if header.menu %}
      {% set menu = header.menu %}
      <div class="header__menu-main">

        <input type="checkbox" id="nav-trigger" class="nav-trigger js-mobile-nav-trigger" value="expanded" />
        <label for="nav-trigger">

          <svg class="nav-trigger__icon nav-trigger__icon--expand" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
            <rect width="30" height="4" ></rect>
            <rect y="20" width="30" height="4" ></rect>
            <rect y="10" width="30" height="4" ></rect>
          </svg>

          <svg class="nav-trigger__icon nav-trigger__icon--collapse" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 357 357" enable-background="new 0 0 30 30" xml:space="preserve">
            <polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5"
            ></polygon>
          </svg>

        </label>

        {% if header.footer %}
          {% set menu = menu|merge({
            'footer': header.footer
          }) %}
        {% endif %}

        {{ menu }}

      </div>
      {% endif %}
    </div>
  </div>
</header>
