{% import '@intercept-base-components/component.twig' as component %}
{{ attach_library('intercept_base/page-title') }}
<h1 {{ component.attributes('page-title', modifiers, attr) }}>
  {% if url %}
  <a href="{{ url }}" title="{{ title }}">
  {% endif %}

  {{ text }}

  {% if url %}
  </a>
  {% endif %}
</h1>
