<article class="summary summary--calendar--event">
  <div class="summary__content">
    <header class="summary__header">
      <h3 class="summary__title"><a href="{{ url }}" class="summary__title-link">{{ title }}</a></h3>
      <div class="summary__dateline">
        <p class="summary__dateline-date">{{ date }}</p>
        <p class="summary__dateline-time">{{ time }}</p>
      </div>
      <p class="summary__subtitle">{{ subtitle }}</p>
    </header>
    <div class="summary__body">{{ body }}</div>
    <footer class="summary__footer">
      <a href="{{ url }}" class="button">Learn More</a>
    </footer>
  </div>
</article>
