<div class="layout-container">
  {%
    include '@STARTER-KIT-components/header/header.twig' with {
      header: page.header
    }
  %}

  {{ page.primary_menu }}

  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {%
      include '@STARTER-KIT-components/content/content.twig' with {
        content: page.content
      }
    %}

    {%
      include '@STARTER-KIT-components/sidebar/sidebar.twig' with {
        region: page.sidebar_first,
        class: 'layout-sidebar-first'
      }
    %}

    {%
      include '@STARTER-KIT-components/sidebar/sidebar.twig' with {
        region: page.sidebar_second,
        class: 'layout-sidebar-second'
      }
    %}

  </main>

  {%
    include '@STARTER-KIT-components/footer/footer.twig' with {
      footer: page.footer
    } only
  %}

</div>{# /.layout-container #}
